<img class="contacts-map" src="assets/images/map.jpg">
<div class="tile schedule">
    <div class="schedule-top schedule-title">
        <img src="../assets/images/clock.svg">
        <div>Местное время</div>
        <div class="schedule-time">10:08</div>
    </div>
    <div class="schedule-container">
        <div class="schedule-title">
            <img src="../assets/images/calendar.svg">
            <div>Время работы</div>
        </div>
        <div class="schedule-wrapper">
            <div class="schedule-day">Пн-Чт:</div>
            <div class="schedule-time">10:00 - 17:00</div>
        </div>
        <div class="schedule-wrapper">
            <div class="schedule-day">Пт:</div>
            <div class="schedule-time">10:00 - 16:00</div>
        </div>
        <div class="schedule-wrapper">
            <div class="schedule-day">Сб-Вс:</div>
            <div class="schedule-time">Выходные</div>
        </div>
    </div>
    <div class="schedule-text">
        Выдача талонов электронной очереди прекращается за 30 минут до окончания времени приёма
    </div>
</div>