<div class="contacts-table">
    <div class="table-cell">Полное наименование</div>
    <div class="table-cell">Акционерное общество «Новый регистратор»</div>

    <div class="table-cell">Сокращенное наименование</div>
    <div class="table-cell">АО «Новый регистратор»</div>

    <div class="table-cell">Местонахождение</div>
    <div class="table-cell">Российская Федерация, г. Москва</div>

    <div class="table-cell">Адрес местонахождения</div>
    <div class="table-cell">107996, город Москва, улица Буженинова, дом 30, строение 1, эт/пом/ком 2/VI/32</div>

    <div class="table-cell">Почтовый адрес</div>
    <div class="table-cell">107996, г.Москва, ул. Буженинова, д. 30, стр. 1</div>

    <div class="table-cell">Тел./факс</div>
    <div class="table-cell">+7 (495) 980-1100 (многоканальный)</div>

    <div class="table-cell">E-mail</div>
    <div class="table-cell"><a href="mailto:newreg@newreg.ru" class="table-link link-underline">newreg@newreg.ru</a></div>

    <div class="table-cell">Директор</div>
    <div class="table-cell">Бархатова Рушания Хайрулловна</div>

    <div class="table-cell">Обслуживаемые эмитенты</div>
    <div class="table-cell"><a href="#" class="table-link link-underline" type="button" data-toggle="modal" data-target="#issuers1">Посмотреть список</a></div>

    <div class="table-cell">Трансфер-агентские эмитенты</div>
    <div class="table-cell"><a href="#" class="table-link link-underline" type="button" data-toggle="modal" data-target="#issuers2">Посмотреть список</a></div>
</div>

<!--Modal-->
<div class="modal fade" id="issuers1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog form-modal-dialog">
        <div class="modal-content modal-form">
            <div class="modal-form-header search-header">
                <div class="container">
                    <button type="button" class="close close-white" data-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-form-body search-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-11">
                            <div class="search-text">Введите город или регион</div>
                            <form class="search-form city-search-form">
                                <input type="text" class="form-control search-input city-search-input" placeholder="Поиск по всей России">
                                <button type="submit" class="btn-search city-btn-search"></button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-2">
                            <ul class="cities-featured">
                                <li><a href="#">Москва</a></li>
                                <li><a href="#">Санкт-Петербург</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-9 offset-lg-1">
                            <ul class="cities cities-cols-3">
                                <li class="cities-letter">А</li>
                                <li><a href="#">Архангельск</a></li>
                                <li><a href="#">Астрахань</a></li>
                                <li class="cities-letter">Б</li>
                                <li><a href="#">Барнаул</a></li>
                                <li><a href="#">Белгород</a></li>
                                <li><a href="#">Брянск</a></li>
                                <li class="cities-letter">В</li>
                                <li><a href="#">Владивосток</a></li>
                                <li><a href="#">Волгоград</a></li>
                                <li><a href="#">Воронеж</a></li>
                                <li class="cities-letter">Е</li>
                                <li><a href="#">Екатеринбург</a></li>
                                <li class="cities-letter">И</li>
                                <li><a href="#">Ижевск</a></li>
                                <li><a href="#">Иркутск</a></li>
                                <li class="cities-letter">К</li>
                                <li><a href="#">Казань</a></li>
                                <li><a href="#">Кемерово</a></li>
                                <li><a href="#">Киров</a></li>
                                <li><a href="#">Краснодар</a></li>
                                <li><a href="#">Красноярск</a></li>
                                <li class="cities-letter">Н</li>
                                <li><a href="#">Набережные Челны</a></li>
                                <li><a href="#">Нижний Новгород</a></li>
                                <li><a href="#">Новокузнецк</a></li>
                                <li><a href="#">Новосибирск</a></li>
                                <li class="cities-letter">О</li>
                                <li><a href="#">Омск</a></li>
                                <li><a href="#">Оренбург</a></li>
                                <li class="cities-letter">П</li>
                                <li><a href="#">Пенза</a></li>
                                <li><a href="#">Пермь</a></li>
                                <li class="cities-letter">Р</li>
                                <li><a href="#">Ростов-на-Дону</a></li>
                                <li><a href="#">Рязань</a></li>
                                <li class="cities-letter">С</li>
                                <li><a href="#">Самара</a></li>
                                <li><a href="#">Саратов</a></li>
                                <li class="cities-letter">Т</li>
                                <li><a href="#">Тольятти</a></li>
                                <li><a href="#">Томск</a></li>
                                <li><a href="#">Тюмень</a></li>
                                <li class="cities-letter">У</li>
                                <li><a href="#">Ульяновск</a></li>
                                <li><a href="#">Уфа</a></li>
                                <li class="cities-letter">Х</li>
                                <li><a href="#">Хабаровск</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="issuers2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog form-modal-dialog">
        <div class="modal-content modal-form">
            <div class="modal-form-header search-header">
                <div class="container">
                    <button type="button" class="close close-white" data-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-form-body search-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-11">
                            <div class="search-text">Введите ваш город, чтобы увидеть ближайших трансфер-агентов</div>
                            <form class="search-form city-search-form">
                                <input type="text" class="form-control search-input city-search-input" placeholder="Поиск по всей России">
                                <button type="submit" class="btn-search city-btn-search"></button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="cities-title">Города, в которых есть трансфер-агенты АО «Новый регистратор»</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="cities cities-cols-4">
                                <li><a href="#">Архангельск</a></li>
                                <li><a href="#">Астрахань</a></li>
                                <li><a href="#">Барнаул</a></li>
                                <li><a href="#">Белгород</a></li>
                                <li><a href="#">Брянск</a></li>
                                <li><a href="#">Владивосток</a></li>
                                <li><a href="#">Волгоград</a></li>
                                <li><a href="#">Воронеж</a></li>
                                <li><a href="#">Екатеринбург</a></li>
                                <li><a href="#">Ижевск</a></li>
                                <li><a href="#">Иркутск</a></li>
                                <li><a href="#">Казань</a></li>
                                <li><a href="#">Кемерово</a></li>
                                <li><a href="#">Киров</a></li>
                                <li><a href="#">Краснодар</a></li>
                                <li><a href="#">Красноярск</a></li>
                                <li><a href="#">Набережные Челны</a></li>
                                <li><a href="#">Нижний Новгород</a></li>
                                <li><a href="#">Новокузнецк</a></li>
                                <li><a href="#">Новосибирск</a></li>
                                <li><a href="#">Омск</a></li>
                                <li><a href="#">Оренбург</a></li>
                                <li><a href="#">Пенза</a></li>
                                <li><a href="#">Пермь</a></li>
                                <li><a href="#">Ростов-на-Дону</a></li>
                                <li><a href="#">Рязань</a></li>
                                <li><a href="#">Самара</a></li>
                                <li><a href="#">Саратов</a></li>
                                <li><a href="#">Тольятти</a></li>
                                <li><a href="#">Томск</a></li>
                                <li><a href="#">Тюмень</a></li>
                                <li><a href="#">Ульяновск</a></li>
                                <li><a href="#">Уфа</a></li>
                                <li><a href="#">Хабаровск</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Поиск по городу-->
                    <div class="row">
                        <div class="col-12 col-lg-11">
                            <form class="search-form city-search-form">
                                <input type="text" class="form-control search-input city-search-input" placeholder="Поиск по всей России">
                                <button type="submit" class="btn-search city-btn-search"></button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="cities-title">Ближайшие трансфер-агенты:</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-5">
                            <div class="cities-group">
                                <div class="city">Архангельск</div>
                                <div class="city-number">100 км</div>
                                <div class="city">Астрахань</div>
                                <div class="city-number">190 км</div>
                                <div class="city">Барнаул</div>
                                <div class="city-number">220 км</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>