<div class="contacts-table">
    <div class="table-cell">Телефон</div>
    <div class="table-cell">+7 (499) 519-0262</div>

    <div class="table-cell">E-mail</div>
    <div class="table-cell"><a href="mailto:clients@newreg.ru" class="table-link">clients@newreg.ru</a></div>

    <div class="table-cell">Получение информации из реестра эмитентами, дополнительные информационные услуги</div>
    <div class="table-cell">
        <div class="cell-title">
            <span>Корпоративный отдел</span>
            <br class="d-block d-xl-none">
            <div class="d-none d-xl-inline"> | </div>
            Григорян Ирина
        </div>
        <div>Внутренний тел.: 3133</div>
        <div>Доп. тел.: 3227, 3139, 3109, 3240, 3110</div>
        <div>Email: <a href="mailto:clients@newreg.ru" class="table-link">clients@newreg.ru</a></div>
    </div>

    <div class="table-cell">Сопровождение сделок, подготовка документов для проведения операций в реестре</div>
    <div class="table-cell">
        <div class="cell-title">
            <span>Отдел по работе с VIP-клиентами</span>
            <br class="d-block d-xl-none">
            <div class="d-none d-xl-inline"> | </div>
            Симонова Алена
        </div>
        <div>Внутренний тел.: 3133</div>
        <div>Доп. тел.: 3227, 3139, 3109, 3240, 3110</div>
        <div>Email: <a href="mailto:vipclients@newreg.ru" class="table-link">vipclients@newreg.ru</a></div>
    </div>

    <div class="table-cell">Получение информации из реестра эмитентами, дополнительные информационные услуги</div>
    <div class="table-cell">
        <div class="cell-title">
            <span>Корпоративный отдел</span>
            <br class="d-block d-xl-none">
            <div class="d-none d-xl-inline"> | </div>
            Григорян Ирина
        </div>
        <div>Внутренний тел.: 3133</div>
        <div>Доп. тел.: 3227, 3139, 3109, 3240, 3110</div>
        <div>Email: <a href="mailto:clients@newreg.ru" class="table-link">clients@newreg.ru</a></div>
    </div>

    <div class="table-cell">Сопровождение сделок, подготовка документов для проведения операций в реестре</div>
    <div class="table-cell">
        <div class="cell-title">
            <span>Отдел по работе с VIP-клиентами</span>
            <br class="d-block d-xl-none">
            <div class="d-none d-xl-inline"> | </div>
            Симонова Алена
        </div>
        <div>Внутренний тел.: 3133</div>
        <div>Доп. тел.: 3227, 3139, 3109, 3240, 3110</div>
        <div>Email: <a href="mailto:vipclients@newreg.ru" class="table-link">vipclients@newreg.ru</a></div>
    </div>
</div>