<div class="accordion">
    <div class="accordion-item">
        <div class="accordion-header" id="doc1">
            <div class="accordion-title documents-title" data-toggle="collapse" data-target="#collapse-doc1" aria-expanded="false" aria-controls="collapse-doc1">
                Анкеты
            </div>
        </div>
        <div class="accordion-body collapse" id="collapse-doc1" aria-labelledby="doc1">
            <div class="row row-cols-1">
                <div class="col">
                    <a href="#" class="document">
                        <img class="document-img" src="assets/images/pdf.svg">
                        <div>
                            <div class="document-name">Анкета эмитента</div>
                            <div>
                                <div class="document-date">25.04.2019</div>
                                <div class="document-size">290 кб</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="document">
                        <img class="document-img" src="assets/images/pdf.svg">
                        <div>
                            <div class="document-name">Анкета эмитента (образец заполнения)</div>
                            <div>
                                <div class="document-date">25.04.2019</div>
                                <div class="document-size">290 кб</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="document">
                        <img class="document-img" src="assets/images/doc.svg">
                        <div>
                            <div class="document-name">Анкета управляющей организации</div>
                            <div>
                                <div class="document-date">25.04.2019</div>
                                <div class="document-size">290 кб</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="doc2">
            <div class="accordion-title documents-title" data-toggle="collapse" data-target="#collapse-doc2" aria-expanded="false" aria-controls="collapse-doc2">
                Договоры
            </div>
        </div>
        <div class="accordion-body collapse" id="collapse-doc2" aria-labelledby="doc2">
            <div class="row row-cols-1">
                <div class="col">
                    <a href="#" class="document">
                        <img class="document-img" src="assets/images/pdf.svg">
                        <div>
                            <div class="document-name">Анкета эмитента</div>
                            <div>
                                <div class="document-date">25.04.2019</div>
                                <div class="document-size">290 кб</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="doc3">
            <div class="accordion-title documents-title" data-toggle="collapse" data-target="#collapse-doc3" aria-expanded="false" aria-controls="collapse-doc3">
                Распоряжения
            </div>
        </div>
        <div class="accordion-body collapse" id="collapse-doc3" aria-labelledby="doc3">
            <div class="row row-cols-1">
                <div class="col">
                    <a href="#" class="document">
                        <img class="document-img" src="assets/images/pdf.svg">
                        <div>
                            <div class="document-name">Анкета эмитента</div>
                            <div>
                                <div class="document-date">25.04.2019</div>
                                <div class="document-size">290 кб</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="doc4">
            <div class="accordion-title documents-title" data-toggle="collapse" data-target="#collapse-doc4" aria-expanded="false" aria-controls="collapse-doc4">
                Другие бланки документов
            </div>
        </div>
        <div class="accordion-body collapse" id="collapse-doc4" aria-labelledby="doc4">
            <div class="row row-cols-1">
                <div class="col">
                    <a href="#" class="document">
                        <img class="document-img" src="assets/images/pdf.svg">
                        <div>
                            <div class="document-name">Анкета эмитента</div>
                            <div>
                                <div class="document-date">25.04.2019</div>
                                <div class="document-size">290 кб</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="doc5">
            <div class="accordion-title documents-title" data-toggle="collapse" data-target="#collapse-doc5" aria-expanded="false" aria-controls="collapse-doc5">
                Правила ведения реестра
            </div>
        </div>
        <div class="accordion-body collapse" id="collapse-doc5" aria-labelledby="doc5">
            <div class="row row-cols-1">
                <div class="col">
                    <a href="#" class="document">
                        <img class="document-img" src="assets/images/pdf.svg">
                        <div>
                            <div class="document-name">Анкета эмитента</div>
                            <div>
                                <div class="document-date">25.04.2019</div>
                                <div class="document-size">290 кб</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>