<div class="tile feedback">
    <div class="title-regular feedback-title">Хотите заказать услугу «Название услуги» или у вас есть вопросы?</div>
    <div class="feedback-container">
        <div class="feedback-wrapper">
            <div class="feedback-text">Cвяжитесь с нами:</div>
            <a href="#" class="feedback-map-link"><img src="../assets/images/icon-filials.svg">Москва</a>
        </div>
        <div class="feedback-wrapper">
            <div class="feedback-text">Телефон:</div>
            <a href="tel:74959801100" class="feedback-link">+7 (495) 980 11 00</a>
        </div>
        <div class="feedback-wrapper">
            <div class="feedback-text">Email:</div>
            <a href="mailto:clients@newreg.ru" class="feedback-link">clients@newreg.ru</a>
        </div>
    </div>
    <div class="text-regular feedback-text">Или оставьте заявку и сотрудник регистратора свяжется с Вами для уточнения всех деталей.</div>
    <a href="#" class="btn btn-feedback">Оставить заявку</a>
</div>