<div class="tile feedback">
    <div class="feedback-title-wrapper">
        <img src="assets/images/icon5.svg">
        <div>
            <div class="title-xlarge feedback-title">Есть вопрос?</div>
            <div class="feedback-text">Cвяжитесь с нами:</div>
            <a href="#" class="feedback-map-link"><img src="../assets/images/icon-filials.svg">Москва</a>
        </div>
    </div>
    <div class="feedback-divider"><span>ДЛЯ ЭМИТЕНТОВ</span></div>
    <div class="feedback-wrapper">
        <div class="feedback-text">Телефон:</div>
        <a href="tel:74959801100" class="feedback-link">+7 (495) 980 11 00</a>
    </div>
    <div class="feedback-wrapper">
        <div class="feedback-text">Email:</div>
        <a href="mailto:clients@newreg.ru" class="feedback-link">clients@newreg.ru</a>
    </div>
    <div class="feedback-divider"><span>ДЛЯ АКЦИОНЕРОВ</span></div>
    <div class="feedback-wrapper">
        <div class="feedback-text">Телефон:</div>
        <a href="tel:74959801100" class="feedback-link">+7 (495) 980 11 00</a>
    </div>
    <div class="feedback-wrapper">
        <div class="feedback-text">Email:</div>
        <a href="mailto:clients@newreg.ru" class="feedback-link">clients@newreg.ru</a>
    </div>
</div>