<footer>
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-4">
            <div class="col footer-top">
                <a href="/" class="footer-logo"><img src="../assets/images/logo.svg"></a>
                <div class="footer-contacts order-1 order-lg-2"><a href="tel:74959801100" class="footer-phone">+7 (495) 980 11 00</a> (многоканальный)</div>
                <div class="footer-contacts order-2 order-lg-3"><a href="tel:74995190262" class="footer-phone">+7 (499) 519 02 62</a> (для эмитентов)</div>
                <div class="footer-contacts order-3 order-lg-1">107996, г. Москва,<br class="d-none d-lg-block">ул. Буженинова, д. 30, стр. 1</div>
            </div>
            <div class="col">
                <div class="rtable js-rtableAccordions">
                    <div class="accordion-title footer-title accordion-btn" role="tab" aria-expanded="false">О компании</div>
                    <ul class="footer-list rtable-cell">
                        <li><a href="#" class="footer-link">О нас</a></li>
                        <li><a href="#" class="footer-link">Клиенты</a></li>
                        <li><a href="#" class="footer-link">Раскрытие информации</a></li>
                        <li><a href="#" class="footer-link">Лицензии и сертификаты</a></li>
                        <li><a href="#" class="footer-link">Совет директоров</a></li>
                        <li><a href="#" class="footer-link">Руководство</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="rtable js-rtableAccordions">
                    <div class="accordion-title footer-title accordion-btn" role="tab" aria-expanded="false">Эмитентам</div>
                    <ul class="footer-list rtable-cell">
                        <li><a href="#" class="footer-link">Услуги</a></li>
                        <li><a href="#" class="footer-link">Онлайн-сервисы</a></li>
                    </ul>
                </div>
                <div class="rtable js-rtableAccordions">
                    <div class="accordion-title footer-title accordion-btn" role="tab" aria-expanded="false">Акционерам</div>
                    <ul class="footer-list rtable-cell">
                        <li><a href="#" class="footer-link">Услуги</a></li>
                        <li><a href="#" class="footer-link">Тарифы</a></li>
                        <li><a href="#" class="footer-link">Документы</a></li>
                        <li><a href="#" class="footer-link">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="rtable js-rtableAccordions">
                    <div class="accordion-title footer-title accordion-btn" role="tab" aria-expanded="false">Арбитражным управляющим</div>
                    <ul class="footer-list rtable-cell">
                        <li><a href="#" class="footer-link">Услуги</a></li>
                        <li><a href="#" class="footer-link">Тарифы</a></li>
                        <li><a href="#" class="footer-link">Документы</a></li>
                        <li><a href="#" class="footer-link">Реестры кредиторов</a></li>
                        <li><a href="#" class="footer-link">FAQ</a></li>
                        <li><a href="#" class="footer-link">Полезные ссылки</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-2 footer-right">
                    <div class="social order-lg-4">
                        <a href="#" class="link-social"><img src="../assets/images/social-facebook.svg"></a>
                        <a href="#" class="link-social"><img src="../assets/images/social-twitter.svg"></a>
                        <a href="#" class="link-social"><img src="../assets/images/social-youtube.svg"></a>
                        <a href="#" class="link-social"><img src="../assets/images/social-rss.svg"></a>
                    </div>
                    <div class="footer-text"><a href="#" class="link-hover-underline">Политика конфиденциальности</a></div>
                    <div class="footer-text"><a href="#" class="link-hover-underline">Пользовательское соглашение</a></div>
                </div>
                <div class="col-12 col-lg-3 order-lg-1 mr-auto">
                    <div class="footer-text">© 2019 АО «Новый регистратор»</div>
                </div>
            </div>
        </div>
    </div>
</footer>