<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/custom/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/custom/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="assets/custom/slider-menu/slider-menu.jquery.css">
    <link rel="stylesheet" href="assets/custom/slider-menu/slider-menu.theme.jquery.css">
    <link rel="stylesheet" href="css/style.css">

    <title></title>
</head>
<body>