<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/custom/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title></title>
</head>
<body>
    <header>
        <div class="header-hint">
            <div class="hint-text">Новый сайт АО «Новый регистратор» работает в тестовом режиме</div>
            <a href="#" class="btn btn-hint">ПОДРОБНЕЕ</a>
        </div>
        <div class="header-main">
            <div class="nav">
                <a href="/" class="header-logo"><img src="assets/images/logo.svg"></a>
                <nav class="navbar nav-center">
                    <ul class="nav">
                        <li class="main-item dropdown">
                            <a class="main-link dropdown-toggle" href="#" id="mainmenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О компании</a>
                            <div class="dropdown-menu" aria-labelledby="mainmenu">
                                <a class="dropdown-item" href="#">О нас</a>
                                <a class="dropdown-item" href="#">Клиенты</a>
                                <a class="dropdown-item dropdown-toggle" href="#" id="submenu" role="button" data-toggle="dropdown" aria-expanded="false">Раскрытие информации</a>
                                <div class="dropdown-menu dropdown-submenu" aria-labelledby="submenu">
                                    <a class="dropdown-item" href="#">Информация о профессиональном участнике</a>
                                    <a class="dropdown-item" href="#">Финансовая отчетность</a>
                                    <a class="dropdown-item" href="#">Расчет собственных средств</a>
                                    <a class="dropdown-item" href="#">Устав</a>
                                </div>
                                <a class="dropdown-item" href="#">Лицензии и сертификаты</a>
                                <a class="dropdown-item" href="#">Совет директоров</a>
                                <a class="dropdown-item" href="#">Руководство</a>
                            </div>
                        </li>
                        <li class="main-item">
                            <a class="main-link" href="#">Тарифы</a>
                        </li>
                        <li class="main-item">
                            <a class="main-link" href="#">Пресс-центр</a>
                        </li>
                        <li class="main-item">
                            <a class="main-link" href="#">Контакты</a>
                        </li>
                        <li class="main-item">
                            <a class="main-link" href="#">Помощь</a>
                        </li>
                    </ul>
                </nav>
                <div class="nav-right">
                    <div class="nav-filial">
                        <div class="filial-office">Головной офис — Москва</div>
                        <div class="filial-address">107996, г. Москва, ул. Буженинова, д. 30, стр. 1</div>
                    </div>
                    <div>
                        <a href="tel:74959801100" class="header-phone">+7 (495) 980 1100</a>
                        <div class="phone-text">(Многоканальный)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-sub">
            <div class="nav">
                <div class="nav-left">
                    <ul class="nav">
                        <li class="sub-item">
                            <a class="sub-link" href="#">ЭМИТЕНТАМ</a>
                        </li>
                        <li class="sub-item">
                            <a class="sub-link" href="#">АКЦИОНЕРАМ</a>
                        </li>
                        <li class="sub-item">
                            <a class="sub-link" href="#">АРБИТРАЖНЫМ УПРАВЛЯЮЩИМ</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-right">
                    <img src="../assets/images/search.svg">
                    <a href="#" class="btn btn-sub">КАБИНЕТ ЭМИТЕНТА</a>
                    <a href="#" class="btn btn-sub">КАБИНЕТ АКЦИОНЕРА</a>
                </div>
            </div>
        </div>
    </header>