<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/custom/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title></title>
</head>
<body>
    <header>
        <div class="header-container-mobile">
            <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#menu-shareholder">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="header-logo-mobile"><img src="assets/images/logo.svg"></a>
            <div class="nav-right">
                <div class="notification">
                    <img src="assets/images/notification.svg">
                    <div class="notification-number">3</div>
                </div>
                <img class="shareholder-img" src="assets/images/photo.jpg">
            </div>
        </div>
        <!--Modal-->
        <div class="modal" id="menu-shareholder" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog custom-modal-dialog">
                <div class="modal-content">
                    <div class="header-top-mobile">
                        <div class="close-mobile"><button type="button" class="close" data-dismiss="modal" aria-label="Close"></button></div>
                        <div class="title-mobile">Личный кабинет акционера</div>
                    </div>
                    <ul class="nav-client-mobile">
                        <li class="mobile-item">
                            <a class="mobile-link" href="#">Счета</a>
                        </li>
                        <li class="mobile-item">
                            <a class="mobile-link" href="#">Журнал операций</a>
                        </li>
                        <li class="mobile-item">
                            <a class="mobile-link" href="#">Собрания</a>
                        </li>
                    </ul>
                    <div class="header-btn-container bottom">
                        <a href="#" class="btn btn-bordered">выйти из кабинета</a>
                    </div>
                </div>
            </div>
        </div>
    </header>