<header>
    <div class="header-client">
        <a href="/" class="header-logo logo-left"><img src="assets/images/logo.svg"></a>
        <div class="container">
            <div class="nav">
                <div class="nav-left">
                    <a class="client-link active" href="#">Личный кабинет эмитента</a>
                </div>
                <nav class="navbar nav-center">
                    <ul class="nav">
                        <li class="client-item">
                            <a class="client-link" href="#">Дивиденды</a>
                        </li>
                        <li class="client-item">
                            <a class="client-link" href="#">Раскрытие информации</a>
                        </li>
                    </ul>
                </nav>
                <div class="nav-right">
                    <a href="#" class="issuer-profile"><img src="../assets/images/user.svg"></a>
                    <form>
                        <select class="custom-select select-mobile" id="issuer">
                            <option>Общество №1</option>
                            <option>Общество №2</option>
                            <option>Общество №3</option>
                        </select>
                    </form>
                    <a href="#" class="issuer-info"><img src="../assets/images/alert-circle.svg"></a>
                </div>
            </div>
        </div>
    </div>
</header>