<header>
    <div class="header-client">
        <div class="container">
            <div class="nav">
                <a href="/" class="header-logo"><img src="assets/images/logo.svg"></a>
                <nav class="navbar nav-center">
                    <ul class="nav">
                        <li class="client-item">
                            <a class="client-link" href="shareholder-accounts.html">Счета</a>
                        </li>
                        <li class="client-item">
                            <a class="client-link" href="shareholder-operations.html">Журнал операций</a>
                        </li>
                        <li class="client-item">
                            <a class="client-link" href="shareholder-desktop.html">Собрания</a>
                        </li>
                    </ul>
                </nav>
                <div class="nav-right">
                    <a href="#" class="notification">
                        <img src="assets/images/notification.svg">
                        <div class="notification-number">3</div>
                    </a>
                    <a href="#" class="shareholder-profile">
                        <img class="shareholder-img" src="assets/images/photo.jpg">
                        <div class="shareholder-name">Имя Фамилия</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>