<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/custom/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/custom/slider-menu/slider-menu.jquery.css">
    <link rel="stylesheet" href="assets/custom/slider-menu/slider-menu.theme.jquery.css">
    <link rel="stylesheet" href="css/style.css">

    <title></title>
</head>
<body>
    <header>
        <div class="header-container-mobile">
            <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#menu-mobile">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="header-logo-mobile"><img src="assets/images/logo.svg"></a>
            <div>
                <a href="#" class="header-icon-mobile"><img src="../assets/images/map-pin.svg"></a>
                <a href="#" class="header-icon-mobile"><img src="../assets/images/phone.svg"></a>
            </div>
        </div>
        <!--Modal-->
        <div class="modal" id="menu-mobile" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog custom-modal-dialog">
                <div class="modal-content">
                    <div class="header-top-mobile">
                        <div class="close-mobile"><button type="button" class="close" data-dismiss="modal" aria-label="Close"></button></div>
                        <form class="search-form">
                            <input type="text" class="form-control search-input" placeholder="Поиск по сайту">
                            <button type="submit" class="btn-search"></button>
                        </form>
                    </div>
                    <ul class="nav-mobile">
                        <li class="mobile-item item-featured">
                            <a class="mobile-link link-featured" href="#">ЭМИТЕНТАМ</a>
                        </li>
                        <li class="mobile-item item-featured" data-vertical="true">
                            <a class="mobile-link link-featured" href="#">АКЦИОНЕРАМ</a>
                            <ul>
                                <li class="mobile-item"><a href="#" class="mobile-link">Собрание акционеров</a></li>
                                <li class="mobile-item"><a href="#" class="mobile-link">Выплата дивидентов</a></li>
                                <li class="mobile-item"><a href="#" class="mobile-link">Раскрытие информации</a></li>
                                <li class="mobile-item"><a href="#" class="mobile-link">Выкуп ценных бумаг</a></li>
                                <li class="mobile-item"><a href="#" class="mobile-link">Помощь</a></li>
                            </ul>
                        </li>
                        <li class="mobile-item item-featured">
                            <a class="mobile-link link-featured" href="#">АРБИТРАЖНЫМ УПРАВЛЯЮЩИМ</a>
                        </li>
                        <li class="mobile-item">
                            <a class="mobile-link" href="#">О компании</a>
                            <ul>
                                <li class="mobile-item"><a href="#" class="mobile-link">О нас</a></li>
                                <li class="mobile-item"><a href="#" class="mobile-link">Клиенты</a></li>
                                <li class="mobile-item" data-vertical="true">
                                    <a href="#" class="mobile-link">Раскрытие информации</a>
                                    <ul>
                                        <li class="mobile-item"><a href="#" class="mobile-link">Информация о профессиональном участнике</a></li>
                                        <li class="mobile-item"><a href="#" class="mobile-link">Финансовая отчетность</a></li>
                                        <li class="mobile-item"><a href="#" class="mobile-link">Расчет собственных средств</a></li>
                                        <li class="mobile-item"><a href="#" class="mobile-link">Устав</a></li>
                                    </ul>
                                </li>
                                <li class="mobile-item"><a href="#" class="mobile-link">Лицензии и сертификаты</a></li>
                                <li class="mobile-item"><a href="#" class="mobile-link">Совет директоров</a></li>
                                <li class="mobile-item"><a href="#" class="mobile-link">Руководство</a></li>
                            </ul>
                        </li>
                        <li class="mobile-item">
                            <a class="mobile-link" href="#">Тарифы</a>
                        </li>
                        <li class="mobile-item">
                            <a class="mobile-link" href="#">Пресс-центр</a>
                        </li>
                        <li class="mobile-item">
                            <a class="mobile-link" href="#">Контакты</a>
                        </li>
                        <li class="mobile-item">
                            <a class="mobile-link" href="#">Помощь</a>
                        </li>
                    </ul>
                    <div class="header-btn-container">
                        <a href="#" class="btn btn-bordered">КАБИНЕТ ЭМИТЕНТА</a>
                        <a href="#" class="btn btn-bordered">КАБИНЕТ АКЦИОНЕРА</a>
                    </div>
                    <div class="header-contacts-mobile">
                        <div>
                            <a href="tel:74959801100" class="header-phone">+7 (495) 980 1100</a>
                            <div class="phone-text">(Многоканальный)</div>
                        </div>
                        <div>
                            <a href="#" class="feedback-map-link"><img src="../assets/images/icon-filials.svg">Москва</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>