<header>
    <div class="header-hint">
        <div class="hint-text">Новый сайт АО «Новый регистратор» работает в тестовом режиме</div>
        <a href="#" class="btn btn-hint">ПОДРОБНЕЕ</a>
    </div>
    <div class="header-main">
        <div class="nav">
            <a href="/" class="header-logo"><img src="assets/images/logo.svg"></a>
            <nav class="navbar nav-center">
                <ul class="nav">
                    <li class="main-item dropdown">
                        <a class="main-link dropdown-toggle" href="#" id="menu-about" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">О компании</a>
                        <div class="dropdown-menu" aria-labelledby="menu-about">
                            <a class="dropdown-item" href="about.html">О нас</a>
                            <a class="dropdown-item" href="about-clients.html">Клиенты</a>
                            <a class="dropdown-item dropdown-toggle" href="#" id="menu-info" role="button" data-toggle="dropdown" data-display="static" aria-expanded="false">Раскрытие информации</a>
                            <div class="dropdown-menu dropdown-submenu" aria-labelledby="menu-info">
                                <a class="dropdown-item" href="about-info.html">Информация о профессиональном участнике</a>
                                <a class="dropdown-item" href="about-info-tabs.html">Финансовая отчетность</a>
                                <a class="dropdown-item" href="about-info-tabs.html">Расчет собственных средств</a>
                                <a class="dropdown-item" href="about-info-tabs.html">Устав</a>
                            </div>
                            <a class="dropdown-item" href="about-licences.html">Лицензии и сертификаты</a>
                            <a class="dropdown-item" href="about-directors.html">Совет директоров</a>
                            <a class="dropdown-item" href="about-management.html">Руководство</a>
                        </div>
                    </li>
                    <li class="main-item">
                        <a class="main-link" href="tariffs.html">Тарифы</a>
                    </li>
                    <li class="main-item dropdown">
                        <a class="main-link dropdown-toggle" href="#" id="menu-press" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">Пресс-центр</a>
                        <div class="dropdown-menu" aria-labelledby="menu-press">
                            <a class="dropdown-item" href="news.html">Новости</a>
                            <a class="dropdown-item" href="publications.html">Публикации</a>
                        </div>
                    </li>
                    <li class="main-item">
                        <a class="main-link" href="contacts.html">Контакты</a>
                    </li>
                    <li class="main-item dropdown">
                        <a class="main-link dropdown-toggle" href="#" id="menu-help" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">Помощь</a>
                        <div class="dropdown-menu" aria-labelledby="menu-help">
                            <a class="dropdown-item" href="help-faq.html">FAQ</a>
                            <a class="dropdown-item" href="help-ref.html">Полезная информация</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="nav-right">
                <div class="nav-filial">
                    <div class="filial-office">Головной офис — Москва</div>
                    <div class="filial-address">107996, г. Москва, ул. Буженинова, д. 30, стр. 1</div>
                </div>
                <div>
                    <a href="tel:74959801100" class="header-phone">+7 (495) 980 1100</a>
                    <div class="phone-text">(Многоканальный)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-sub">
        <div class="nav">
            <div class="nav-left">
                <ul class="nav">
                    <li class="sub-item dropdown">
                        <a class="sub-link dropdown-toggle" href="#" id="menu-issuer" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">ЭМИТЕНТАМ</a>
                        <div class="dropdown-menu" aria-labelledby="menu-issuer">
                            <a class="dropdown-item" href="#">Услуги для эмитентов</a>
                            <a class="dropdown-item" href="#">Помощь</a>
                        </div>
                    </li>
                    <li class="sub-item dropdown">
                        <a class="sub-link dropdown-toggle" href="#" id="menu-shareholder" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">АКЦИОНЕРАМ</a>
                        <div class="dropdown-menu" aria-labelledby="menu-shareholder">
                            <a class="dropdown-item" href="#">Собрание акционеров</a>
                            <a class="dropdown-item" href="#">Выплата дивидентов</a>
                            <a class="dropdown-item" href="#">Раскрытие информации</a>
                            <a class="dropdown-item" href="#">Выкуп ценных бумаг</a>
                            <a class="dropdown-item" href="#">Помощь</a>
                        </div>
                    </li>
                    <li class="sub-item dropdown">
                        <a class="sub-link dropdown-toggle" href="#" id="menu-others" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">АРБИТРАЖНЫМ УПРАВЛЯЮЩИМ</a>
                        <div class="dropdown-menu" aria-labelledby="menu-others">
                            <a class="dropdown-item" href="help-faq.html">FAQ</a>
                            <a class="dropdown-item" href="help-ref.html">Полезная информация</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav-right">
                <img src="../assets/images/search.svg">
                <a href="issuer-cabinet.html" class="btn btn-sub">КАБИНЕТ ЭМИТЕНТА</a>
                <a href="shareholder-desktop.html" class="btn btn-sub">КАБИНЕТ АКЦИОНЕРА</a>
            </div>
        </div>
    </div>
</header>