<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/custom/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title></title>
</head>
<body>
<header>
    <div class="header-client">
        <div class="container">
            <div class="nav">
                <a href="/" class="header-logo"><img src="assets/images/logo.svg"></a>
                <nav class="navbar nav-center">
                    <ul class="nav">
                        <li class="client-item">
                            <a class="client-link" href="#">Счета</a>
                        </li>
                        <li class="client-item">
                            <a class="client-link" href="#">Журнал операций</a>
                        </li>
                        <li class="client-item">
                            <a class="client-link" href="#">Собрания</a>
                        </li>
                    </ul>
                </nav>
                <div class="nav-right">
                    <div class="notification">
                        <img src="assets/images/notification.svg">
                        <div class="notification-number">3</div>
                    </div>
                    <img class="shareholder-img" src="assets/images/photo.jpg">
                    <div class="shareholder-name">Имя Фамилия</div>
                </div>
            </div>
        </div>
    </div>
</header>