<div class="col">
    <div class="tile news">
        <div class="tag">Новости</div>
        <div class="title-small news-title">
            Банк России рекомендовал совету директоров участвовать в принятии мер по обеспечению
            информационной безопасности компании
        </div>
        <div class="date">24 сентября 2019</div>
    </div>
</div>
<div class="col">
    <div class="tile news news-featured">
        <div class="tag-featured">Важное</div>
        <div class="title-small news-title title-featured">
            Банк России рекомендовал совету директоров участвовать в принятии мер по обеспечению
            информационной безопасности компании
        </div>
        <div class="date-featured">24 сентября 2019</div>
    </div>
</div>
<div class="col">
    <div class="tile news">
        <div class="tag">Новости</div>
        <div class="title-small news-title">
            Банк России рекомендовал совету директоров участвовать в принятии мер по обеспечению
            информационной безопасности компании
        </div>
        <div class="date">24 сентября 2019</div>
    </div>
</div>
<div class="col">
    <div class="tile news">
        <div class="tag">Новости</div>
        <div class="title-small news-title">
            Банк России рекомендовал совету директоров участвовать в принятии мер по обеспечению
            информационной безопасности компании
        </div>
        <div class="date">24 сентября 2019</div>
    </div>
</div>
<div class="col">
    <div class="tile news">
        <div class="tag">Новости</div>
        <div class="title-small news-title">
            Банк России рекомендовал совету директоров участвовать в принятии мер по обеспечению
            информационной безопасности компании
        </div>
        <div class="date">24 сентября 2019</div>
    </div>
</div>