<div class="tile stage">
    <div class="title-regular stage-title">Согласуйте дату собрания</div>
    <div class="stage-number">01</div>
    <div class="text-regular">
        Вы можете позвонить по телефону или написать на почту, предварительно выбрав ближайший филиал для обслуживания.
    </div>
    <a href="#" class="link-more">КОНТАКТЫ ФИЛИАЛОВ</a>
</div>
<div class="tile stage">
    <div class="stage-wrapper">
        <div class="title-regular stage-title">Выберите тариф обслуживания</div>
        <div class="stage-number">02</div>
    </div>
    <div class="text-regular">
        Стоимость всех услуг простая и понятная. Больше никаких скрытых комиссий, платежей и дополнительных сборов.
    </div>
    <a href="#" class="link-more">ТАРИФЫ</a>
</div>
<div class="tile stage">
    <div class="stage-wrapper">
        <div class="title-regular stage-title">Заключите договор</div>
        <div class="stage-number">03</div>
    </div>
    <div class="text-regular">
        Нам понадобятся реквизиты вашего акционерного общества, анкета и несколько документов. Перечень вы можете узнать онлайн.
    </div>
    <a href="#" class="link-more">ПЕРЕЧЕНЬ ДОКУМЕНТОВ</a>
</div>